<div class="card mb-3">
  <div class="card-header">
    {{ trip.name }}
  </div>
  <div class="card-body">
    <img *ngIf="trip.image.includes('http') || trip.image.includes('https')" src="{{ trip.image }}" class="card-img-top" alt="trip thumbnail">
    <img *ngIf="!trip.image.includes('http')" src="assets/images/{{ trip.image }}" class="card-img-top" alt="trip thumbnail">
    <h6 class="card-subtitle mt-3 text-muted">{{ trip.resort }}</h6>
    <p class="card-subtitle mt-3 mb-3 text-muted">{{ trip.length }} only
      {{ trip.perPerson | currency:'USD':true }} per person
    </p>
    <p class="card-text" [innerHTML]="trip.description"></p>
  </div>
  <button (click)="editTrip(trip)" class="btn btn-info">Edit</button>
</div>
